<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <!-- Home app link updated to 'home' -->
        <a class="navbar-brand mr-4" href="{% url 'home' %}">THE24 TECH Solutions</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <!-- Home link to the home app -->
            <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
            <!-- Blog link updated to the blog app -->
            <a class="nav-item nav-link" href="{% url 'blog' %}">Blog</a>
            <a class="nav-item nav-link" href="{% url 'blog-about' %}">About Us</a>
            <a class="nav-item nav-link" href="{% url 'blog-contact' %}">Contact</a>
          </div>
          <div class="navbar-nav">
            {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
              <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
              <form method="POST" action="{% url 'logout' %}" class="d-inline">
                {% csrf_token %}
                <button class="nav-item nav-link btn btn-link d-inline" type="submit" style="padding: 0; margin-left: 10px; border: none; background: none;">Logout</button>
              </form>
            {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
</header>
  