# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directories
venv/
env/

# Ignore logs
*.log

# Ignore local configuration files
.env
.env.local

# Ignore version control directories
.git/
.gitignore

# Ignore Docker files
Dockerfile
docker-compose.yml

# Ignore other temporary or unnecessary files
*.tmp
*.bak
*.swp
