<!-- blog/templates/blog/contact.html -->
{% extends "blog/base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<p>If you have any questions or comments, feel free to reach out to Us!</p>

<h2>Contact Information</h2>
<p>Email: <a href="mailto:info@the24techsolutions.com">info@the24techsolutions.com</a></p>
<p>Phone: +254 705 512 804</p>
<p>Follow Us on our social media platforms:</p>
<ul>
    <li><a href="https://www.linkedin.com/in/victor-mwendwa-283577202/" target="_blank">LinkedIn</a></li>
    <li><a href="https://x.com/Xxiv_Victor" target="_blank">X</a></li>
    <li><a href="https://www.instagram.com/xxiv_victor/" target="_blank">Instagram</a></li>
</ul>
{% endblock %}
